.spinning-cyl{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  margin-left: 1000px;
  transform-style: preserve-3d;
  font-family: 'Space Grotesk';
  animation: roundnround 25s linear infinite;
  z-index: 1;
    
  span{
    position: absolute;
    color: #fff;
    font-size: 5em;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0 20px;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.25), transparent);
    line-height: 0.75em;
    transform-style: preserve-3d;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%) rotateX(calc(var(--a) * 30deg)) translateZ(85px);

    i:nth-child(1){
      font-style: initial;
      color: #ffb121;
    }

    i:nth-child(2){
      font-style: initial;
      color: #ff2181;
    }
  }

  @keyframes roundnround{ 
    0%{
      transform: perspective(1000px) rotateX(0deg) rotate(10deg);
    }

    100%{
      transform: perspective(1000px) rotateX(360deg) rotate(10deg);
    }
  }
}

.loader{
  z-index: 2;
  height: 200px;
  width: 200px;
  top: 65%;
  right: 320px;
  border-radius: 50%;
  position: absolute;
  background: #0d2323;
  animation: spinn 2s linear infinite;

  @keyframes spinn{
    0%{
      transform: rotate(0deg);
    }

    100%{
      transform: rotate(360deg);
    }
  }

  &::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
    background-size: 100px 100px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  &::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 10px #00fff9,
                0 0 20px #00fff9,
                0 0 30px #00fff9,
                0 0 40px #00fff9,
                0 0 50px #00fff9,
                0 0 60px #00fff9,
                0 0 70px #00fff9,
                0 0 80px #00fff9,
                0 0 90px #00fff9,
                0 0 100px #00fff9, ;
  }

  span{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #022c43 ;
    border-radius: 50%;
  }
}